body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1b1b;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 48%;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
}

.form-group-row .form-group {
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #333;
    color: #f0f0f0;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

.submit-btn {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #00b4d8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077b6;
}
.checkbox-group div {
    display: flex;
    align-items: center;
    gap: 5px; /* Mengatur jarak antara checkbox dan label */
}

.checkbox-group label {
    order: 1; /* Memastikan label tetap setelah checkbox */
}
